@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html {
  scroll-behavior: smooth;
}

.section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 75px 0;
}

.header-bg {
  width: 1920px;
  height: 150px;
  background: #000;
  margin: 0 auto;
}

.dark-section {
  background-color: black;
  max-width: 1440px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  height: 200px;
  margin: 0 auto;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 1440px;
  height: 50px;
}

header nav .container-logo {
  letter-spacing: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 50px;
  font-size: 28px;
  font-family: forum;
  color: white;
  width: 175px;
  height: 50px;
}

header nav .container-logo:before {
  position: relative;
  margin-right: 20px;
  content: url("/assets/svg/logo.svg");
}

header nav .navigation-list {
  letter-spacing: 2px;
  width: 720px;
  height: 50px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-family: roboto;
  font-weight: 200;
  font-style: thin;
}

header nav .navigation-list a {
  color: white;
}

header nav .navigation-list li:nth-child(1):hover {
  font-size: 25px;
  text-shadow: white 0 0 5px;
}

header nav .navigation-list li:nth-child(2):hover {
  font-size: 25px;
  text-shadow: white 0 0 5px;
}

header nav .navigation-list li:nth-child(3):hover {
  font-size: 25px;
  text-shadow: white 0 0 5px;
}

header nav .navigation-list li:nth-child(4):hover {
  font-size: 25px;
  text-shadow: white 0 0 5px;
}

header nav .navigation-list li:nth-child(5):hover {
  font-size: 25px;
  text-shadow: white 0 0 5px;
}

.welcome-bg {
  width: 1920px;
  height: 810px;
  margin: 0 auto;
  background-color: black;
  position: relative;
}

.explore-bg {
  width: 1920px;
  height: 865px;
  margin: 0 auto;
  background-color: black;
  position: relative;
}

.museum-bg {
  position: relative;
  width: 1000px;
  height: 810px;
  left: 440px;
  background: #000;
}

.welcome-title {
  width: 598px;
  height: 390px;
  position: absolute;
  top: 114px;
}

.welcome-title .title-description {
  font-size: 28px;
  color: white;
  font-family: roboto;
  letter-spacing: 2px;
  font-style: normal;
  margin-top: 26px;
  font-weight: 100;
}

.welcome-title .title-btn {
  width: 360px;
  height: 75px;
  background-color: #710707;
  border-radius: 5px;
  font-size: 22px;
  font-family: roboto;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  margin-top: 80px;
}

.welcome-title .title-btn:hover {
  -webkit-box-shadow: red 10px 10px 10px;
          box-shadow: red 10px 10px 10px;
}

.welcome-title .title-btn:active {
  width: 355px;
  height: 70px;
}

.welcome-title h1 {
  font-family: forum;
  font-size: 80px;
  color: white;
  letter-spacing: 5px;
  line-height: 90px;
  font-weight: 400;
}

.visiting h2 {
  font-family: forum;
  font-size: 80px;
  color: #9d8665;
  letter-spacing: 5px;
  line-height: 90px;
  padding-left: 7px;
}

.visiting h2:after {
  content: "";
  display: block;
  width: 1440px;
  height: 3px;
  background-color: #710707;
  position: relative;
  top: 26px;
}

.visiting .visiting-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 60px;
          column-gap: 60px;
  row-gap: 78px;
  position: relative;
  left: 7px;
  bottom: 2px;
  margin-top: 103px;
}

.visiting .visiting-menu .link-vt {
  display: block;
  width: 440px;
  height: 422px;
}

.visiting .visiting-menu .link-vt img {
  width: 440px;
  height: 285px;
}

.visiting .visiting-menu .link-vt h3 {
  margin-top: 25px;
  font-family: forum;
  font-size: 32px;
  line-height: 35.33px;
  letter-spacing: 5px;
  color: black;
}

.visiting .visiting-menu .link-vt h3::after {
  content: "";
  display: block;
  width: 300px;
  height: 2px;
  background-color: #710707;
  position: relative;
  top: 8px;
}

.visiting .visiting-menu .description-vt h4 {
  font-family: roboto;
  font-size: 22px;
  line-height: 28px;
  color: black;
  font-weight: 200;
  font-style: normal;
  position: relative;
  top: 17px;
}

.visiting .visiting-menu .description-vt h5 {
  font-family: roboto;
  font-size: 18px;
  line-height: 21.09px;
  color: black;
  font-weight: 200;
  font-style: normal;
  position: relative;
  top: 25px;
}

.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.explore img {
  position: relative;
  top: 10px;
  width: 720px;
  height: 700px;
}

.explore p {
  width: 660px;
  height: 77px;
  font-family: roboto;
  font-size: 22px;
  color: white;
  line-height: 38.5px;
  font-weight: 300;
  margin-top: 25px;
}

.explore h2 {
  margin-bottom: 103px;
  width: 660px;
  height: 90px;
  text-transform: uppercase;
  font-family: forum;
  font-size: 80px;
  color: white;
  letter-spacing: 5px;
  line-height: 90px;
}

.explore h2:after {
  content: "";
  display: block;
  width: 660px;
  height: 3px;
  background-color: #710707;
  position: relative;
  top: 25px;
}

.video-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 75px 0 70px 0;
}

.video-section .player {
  position: relative;
}

.video-section .player .play {
  position: absolute;
  left: 618px;
  top: 219px;
  width: 220px;
  height: 220px;
}

.video-section .player .left {
  position: absolute;
  left: 50px;
  top: 670px;
  width: 27px;
  height: 30px;
}

.video-section .player .play-small {
  position: absolute;
  left: 115px;
  top: 670px;
  width: 27px;
  height: 30px;
}

.video-section .player .right {
  z-index: 2;
  position: absolute;
  left: 180px;
  top: 670px;
  width: 27px;
  height: 30px;
}

.video-section .player .fullscreen {
  position: absolute;
  left: 1370px;
  top: 670px;
  width: 36px;
  height: 36px;
}

.video-section .player img {
  position: relative;
  width: 1440px;
  height: 714px;
  left: 8px;
}

.video-section .video-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1440px;
}

.video-section .video-title h2 {
  font-family: forum;
  font-size: 80px;
  color: #9d8665;
  letter-spacing: 5px;
  line-height: 90px;
  margin-top: 40px;
  position: relative;
  left: 10px;
}

.video-section .video-title p {
  position: relative;
  margin-top: 44px;
  padding-left: 8px;
  width: 720px;
  height: 90px;
  font-family: roboto;
  font-size: 22px;
  line-height: 38.5px;
  font-weight: 300;
}

.tickets-bg {
  width: 1920px;
  height: 893px;
  margin: 0 auto;
  background-color: black;
  padding-top: 75px;
}

.tickets-bg h2 {
  margin-bottom: 103px;
  width: 660px;
  height: 90px;
  text-transform: uppercase;
  font-family: forum;
  font-size: 80px;
  color: white;
  letter-spacing: 5px;
  line-height: 90px;
}

.tickets-bg h2:after {
  content: "";
  display: block;
  width: 1440px;
  height: 3px;
  background-color: #710707;
  position: relative;
  top: 25px;
  margin-bottom: 75px;
}

.tickets-bg img {
  width: 720px;
  height: 550px;
}

.tickets-bg .tickets-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form {
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: white;
  width: 270px;
  height: 262px;
}

form h4 {
  font-family: roboto;
  font-size: 28px;
  line-height: 32.81px;
  color: white;
}

form p {
  font-family: roboto;
  font-size: 28px;
  line-height: 32.81px;
  color: white;
}

form label {
  font-family: roboto;
  font-size: 22px;
  line-height: 25.78px;
  color: white;
}

.amount {
  margin-left: auto;
  margin-right: 0;
  color: white;
}

.amount h4 {
  font-family: roboto;
  font-size: 22px;
  line-height: 25.78px;
  font-weight: 300;
}

.amount p {
  font-family: roboto;
  font-size: 22px;
  line-height: 25.78px;
  font-weight: 300;
}

.amount .clicker {
  width: 150px;
  height: 50px;
  border: solid white 3px;
  text-align: center;
  font-family: roboto;
  font-size: 22px;
  line-height: 22.78;
}

.amount button {
  width: 175px;
  height: 50px;
  background: white;
  font-size: 22px;
  font-family: roboto;
  letter-spacing: 2px;
  text-align: center;
}

.contacts {
  margin-bottom: 150px;
  width: 1440px;
  height: 813px;
  padding: 75px 0;
}

.contacts img {
  width: 960px;
  height: 620px;
}

.contacts h2 {
  font-family: forum;
  font-size: 80px;
  color: #9d8665;
  letter-spacing: 5px;
  line-height: 90px;
}

.contacts h2:after {
  content: "";
  display: block;
  width: 1440px;
  height: 3px;
  background-color: #710707;
  position: relative;
  top: 0px;
}

.contacts .contacts-title {
  margin-top: 85px;
  margin-bottom: 36px;
  font-family: roboto;
  font-size: 28px;
  line-height: 32,81px;
  font-weight: 500;
  width: 277px;
}

.contacts .contacts-info {
  font-family: roboto;
  font-size: 22px;
  line-height: 45.78px;
  width: 277px;
}

.contacts img {
  position: relative;
  left: 480px;
  top: -221px;
}

.footer-bg {
  width: 1920px;
  height: 300px;
  margin: 0 auto;
  background-color: black;
  position: relative;
}

.footer-bg footer {
  margin: 0 auto;
}

.footer-bg footer .footer-links {
  width: 336px;
  height: 48px;
  margin-top: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bg footer .footer-links li:first-child {
  background: url(/assets/svg/Youtube.svg);
  width: 48px;
  height: 48px;
}

.footer-bg footer .footer-links li:nth-child(2) {
  background: url(/assets/svg/Instagram.svg);
  width: 48px;
  height: 48px;
}

.footer-bg footer .footer-links li:nth-child(3) {
  background: url(/assets/svg/Facebook.svg);
  width: 48px;
  height: 48px;
}

.footer-bg footer .footer-links li:nth-child(4) {
  background: url(/assets/svg/Twitter.svg);
  width: 48px;
  height: 48px;
}

.footer-bg footer .footer-links li:nth-child(5) {
  background: url(/assets/svg/Pinterest.svg);
  width: 48px;
  height: 48px;
}

.footer-bg footer nav {
  padding: 75px 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 1440px;
  height: 150px;
}

.footer-bg footer nav .container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 50px;
  font-size: 28px;
  font-family: forum;
  color: white;
  width: 175px;
  height: 50px;
}

.footer-bg footer nav .container-logo:before {
  content: url("/assets/svg/logo.svg");
}

.footer-bg footer nav a {
  color: white;
}

.footer-bg footer nav .navigation-list {
  margin-left: 145px;
  margin-right: 398px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 153px;
          column-gap: 153px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 366px;
  height: 150px;
  color: white;
  font-size: 22px;
  font-family: roboto;
  line-height: 50px;
}
