@import "null.scss";
.favicon{
    width: 16px;
    height: 16px;
}
html {
    scroll-behavior: smooth;
}
.section {
    max-width: 1440px;
    margin: 0 auto;
    padding: 75px 0;
}
.dark-section {
    background-color: black;
    max-width: 1440px;
    margin: 0 auto;
}

.header-bg {
    width: 1920px;
    height: 150px;
    background: #000;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    height: 150px;
    margin: 0 auto;
    .container-logo {
        text-transform: uppercase;
        letter-spacing: 5px;
        display: flex;
        justify-content: space-between;
        line-height: 40px;
        font-size: 28px;
        font-family: forum;
        color: white;
        width: 199px;
        height: 33px;
        &:before {
            position: relative;
            margin-right: 20px;
            content: url("/assets/svg/logo.svg");
        }
    }
    .navigation-list {
        max-width: 775px;
        ul {
            a {
                color: white;
                &:hover{
                    color: #9d8665;
                    font-size: 24px;
                }
            }
            letter-spacing: 2px;
            width: 775px;
            height: 26px;
            color: white;
            display: flex;
            justify-content: space-between;
            font-size: 22px;
            line-height: 26px;
            font-family: roboto;
            font-weight: 200;
            font-style: thin;
        }
    }
}

.gallery-bg {
    width: 1920px;
    height: 2200px;
    margin: 0 auto;
    background: #000;
}
.gallery {
    padding-top: 75px;
    margin: 0 auto;
    width: 1440px;

    .picture-container {
        overflow-y: hidden;
        width: 1440px;
        height: 2035px;
        .picture-inner-container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 2900px;
            row-gap: 24px;
            column-gap: 24px;
            align-items: center;
        }
    }
    h2 {
        text-transform: uppercase;
        font-family: forum;
        font-size: 80px;
        color: #ffffff;
        letter-spacing: 5px;
        line-height: 90px;
    }
}
.welcome-bg {
    width: 1920px;
    height: 810px;
    margin: 0 auto;
    background-color: black;
    position: relative;
}
.explore-bg {
    width: 1920px;
    height: 865px;
    margin: 0 auto;
    background-color: black;
    position: relative;
}
.museum-bg {
    position: relative;
    width: 1000px;
    height: 750px;
    left: 440px;
    background: #000;
}
.welcome {
    margin: 0 auto;
    max-width: 1440px;
    height: 810px;
}
.slider {
    position: absolute;
    top: 690px;
    left: 1080px;
    width: 600px;
    height: 120px;
}
.welcome-title {
    width: 598px;
    height: 390px;
    position: absolute;
    top: 150px;

    .title-description {
        font-size: 28px;
        color: white;
        font-family: roboto;
        letter-spacing: 2px;
        font-style: normal;
        margin-top: 26px;
        font-weight: 100;
    }
    .title-btn {
        width: 360px;
        height: 75px;
        background-color: #710707;
        border-radius: 5px;
        font-size: 22px;
        font-family: roboto;
        letter-spacing: 2px;
        text-align: center;
        color: #ffffff;
        margin-top: 80px;
        &:hover {
            background-color: #9d8665;
            transition: 2s;
            
        }
        &:active {
            width: 355px;
            height: 70px;
        }
    }
    h1 {
        font-family: forum;
        font-size: 80px;
        color: white;
        letter-spacing: 5px;
        line-height: 90px;
        font-weight: 400;
    }
}
.visiting {
    h2 {
        font-family: forum;
        font-size: 80px;
        color: #9d8665;
        letter-spacing: 5px;
        line-height: 90px;
        padding-left: 7px;
        &:after {
            content: "";
            display: block;
            width: 1440px;
            height: 3px;
            background-color: #710707;
            position: relative;
            top: 26px;
        }
    }
    .visiting-menu {
        display: flex;
        flex-wrap: wrap;
        column-gap: 60px;
        row-gap: 78px;
        position: relative;
        left: 7px;
        bottom: 2px;

        .link-vt {
            display: block;
            width: 440px;
            height: 422px;
            &:hover{
                h3::after{
                    width: 440px;
                transition: 2s;
                }
              
            }
            img {
                width: 440px;
                height: 285px;
            }

            h3 {
                margin-top: 25px;
                font-family: forum;
                font-size: 32px;
                line-height: 35.33px;
                letter-spacing: 5px;
                color: black;
                &::after {
                    content: "";
                    display: block;
                    width: 300px;
                    height: 2px;
                    background-color: #710707;
                    position: relative;
                    top: 8px;
                    
                }
                
            }
        }
        .description-vt {
            h4 {
                font-family: roboto;
                font-size: 22px;
                line-height: 28px;
                color: black;
                font-weight: 200;
                font-style: normal;
                position: relative;
                top: 17px;
            }
            h5 {
                font-family: roboto;
                font-size: 18px;
                line-height: 21.09px;
                color: black;
                font-weight: 200;
                font-style: normal;
                position: relative;
                top: 25px;
            }
        }
        margin-top: 103px;
    }
}

.explore {
    display: flex;
    justify-content: space-between;
    .explore-container {
        display: flex;
        padding-top: 12px;
        width: 720px;
        height: 700px;
        .before-pic {
            width: 61%;
            img {
                height: 700px;
            }
        }
        .after-pic {
            max-width: 39%;
            overflow: hidden;
            img {
                height: 700px;
            }
        }
        .explore-slider {
            position: absolute;
            left: 1380px;
        }
    }

    p {
        width: 660px;
        height: 77px;
        font-family: roboto;
        font-size: 22px;
        color: white;
        line-height: 38.5px;
        font-weight: 300;
        margin-top: 25px;
    }
    h2 {
        margin-bottom: 103px;
        width: 660px;
        height: 90px;
        text-transform: uppercase;
        font-family: forum;
        font-size: 80px;
        color: white;
        letter-spacing: 5px;
        line-height: 90px;
        &:after {
            content: "";
            display: block;
            width: 660px;
            height: 3px;
            background-color: #710707;
            position: relative;
            top: 25px;
        }
    }
}
.video-section {
    height: 1246px;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 70px;
    .video-menu {
        display: flex;
        column-gap: 42px;
        padding-bottom: 52px;
        padding-left: 12px;
    }
    .player {
        margin-top: 60px;
        margin-bottom: 40px;
        position: relative;
        .play {
            background: none;
            position: absolute;
            left: 610px;
            top: 230px;
            width: 220px;
            height: 220px;
            img{
                width: 220px;
            height: 220px;
            }
            z-index: 1;
        }
        .left {
            position: absolute;
            left: 50px;
            top: 670px;
            width: 27px;
            height: 30px;
        }
        .play-small {
            position: absolute;
            left: 115px;
            top: 670px;
            width: 27px;
            height: 30px;
        }
        .right {
            z-index: 2;
            position: absolute;
            left: 180px;
            top: 670px;
            width: 27px;
            height: 30px;
        }
        .fullscreen {
            position: absolute;
            left: 1370px;
            top: 670px;
            width: 36px;
            height: 36px;
        }
        img {
            position: relative;
            width: 1440px;
            height: 900;
            left: 8px;
            top: -5px;
        }
    }
    .video-title {
        display: flex;
        justify-content: space-between;
        width: 1440px;
        h2 {
            font-family: forum;
            font-size: 80px;
            color: #9d8665;
            letter-spacing: 5px;
            line-height: 90px;
            position: relative;
            left: 10px;
        }
        p {
            margin-top: 4px;
            position: relative;
            padding-left: 8px;
            width: 720px;
            height: 90px;
            font-family: roboto;
            font-size: 22px;
            line-height: 38.5px;
            font-weight: 300;
        }
    }
}
.tickets-bg {
    width: 1920px;
    height: 1293px;
    margin: 0 auto;
    padding-top: 75px;
    position: relative;
    .tickets {
        .tickets-container1{
            display: flex;
            justify-content: space-between;
        }
        .form-buy{ 
            .overview{
                position: relative;
                width: 530px;
                height: 663px;
                border: 1px black solid;
                margin-top: 90px;
                .p1{
                    width: 132px;
                    height: 38px;
                    font-family: roboto;
                    font-weight: 500;
                    font-size: 32px;
                    margin-left: 30px;
                   
                }
                .p2{
                    margin-left: 30px;
                    width: 141px;
                    height: 26px;
                    font-family: roboto;
                    font-weight: 500;
                    font-size: 22px;
                    
                    color:#740C11;
                }
                .p3{
                    margin-top: 5px;
                    margin-left: 30px;
                    font-family: roboto;
                    font-size: 18px;
                }
                .p6{
                    font-size: 22px;
                    font-family: roboto;
                    font-weight: 400;
                    width: 470px;
                    height: 30px;
                    margin-left: 30px;
                    margin-top: 22px;
                    span{
                        margin-left: 260px;
                    }
                }
                .pic{
                    margin-left: 30px;
                    width: 450px;
                    height: 230px;
                }
                .btn1{
                    margin-top: 30px;
                    width: 220px;
                    height: 45px;
                    background: #710707;
                    color: white;
                    font-size: 22px;
                    font-family: roboto;
                    margin-left: 270px;
                }
                .rec{
                    width: 470px;
                    height: 2px;
                    background: #740C11;
                }
                .p8{
                    margin-left: 30px;
                    margin-top: 10px;
                    font-size: 32px;
                    font-family: roboto;
                    font-weight: 400;
                    span{
                        margin-left: 280px;
                    }
                }
            }
            .close{
                width: 20px;
                height: 20px;
                left: 1400px;
                top: 10px
            }
            width: 1440px;
            height: 845px;
            background: rgb(255, 255, 255);
            position: absolute;
            left: 240px;
            top: 150px;
            z-index: 20;
            border: 2px solid black;
            .booking-tickets{
                left: 235px; 
                top: 91px;   
                position: relative;

                width: 420px;
                height: 670px;
                position: relative;
                
                img{
                    width: 85px;
                    height: 41px;
                }
                .p1{
                    font-family: forum;
                    font-size: 50px;
                    text-transform: uppercase;
                    line-height: 55.2px;
                    color: #9D8665;
                    padding: 0px;
                    margin-bottom: 15px;
                }
                .p2{
                    padding: 0;
                    font-family: roboto;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 21,09;
                    color: #710707;
                    &::after {
                        margin-top: 10px;
                        margin-bottom: 60px;
                        content: '';
                        display: block;
                        width: 400px;
                        height: 3px;
                        background: #710707;
                    }
                }
                .input-date{
                    font-family: roboto;
                    font-weight: 400;
                    position: relative;
                    width: 190px;
                    height: 45px;
                    border:2px solid black;
                    margin-bottom: 20px;
                }
                .input-time{
                    margin-left: 20px;
                    margin-bottom: 20px;
                    font-family: roboto;
                    font-weight: 400;
                    width: 190px;
                    height: 45px;
                    border: 2px solid black;
                    position: relative;
                }
                .input-text{
                    font-family: roboto;
                    font-weight: 400;
                    margin-bottom: 20px;
                    width: 400px;
                    height: 45px;
                    display: block;
                    border:1px solid black;
            }
            .input-email{
                    margin-bottom: 20px;
                    width: 400px;
                    height: 45px;
                    display: block;
                    border:1px solid black;
            }
            .input-tel{
                    margin-bottom: 20px;
                    width: 400px;
                    height: 45px;
                    display: block;
                    border:1px solid black;
            }
            .select{
                    margin-bottom: 20px;
                    width: 400px;
                    height: 45px;
                    display: block;
                    border:1px solid black;
            }
            .entry-ticket{
                .inputnumber {
                    font-size: 18px;
                    font-weight: 400;
                    font-family: roboto;
                    text-align: center;
                    align-content: center;
                    height: 21px;
                    width: 35px;
                }
                .firstsec{
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    width: 370px;
                    height: 25px;
                    p{
                        font-size: 18px;
                        font-weight: 400;
                        font-family: roboto;
                    }
                }

                .number1{
                    
                    background: #000;
                    width: 105px;
                    height: 25px;
                    border: 2px solid rgb(0, 0, 0);
                    display: flex;
                    button {
                        background: rgb(0, 0, 0);
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 18px;
                        text-align: center;
                        color: white;
                        height: 21px;
                        width: 35px;
                    }
                }
                width: 400px;
                height: 135px;
                border: 2px solid black;
                .p3{
                    font-family: forum;
                    font-size: 18px;
                    line-height: 19,87;
                    font-weight: 400;
                    color: #9D8665;
                    &::after{
                        content: '';
                        display: block;
                        width: 370px;
                        height: 2px;
                        background: #710707;
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
        max-width: 1440px;
        margin: 0 auto;
        h2 {
            margin-bottom: 103px;
            width: 660px;
            height: 90px;
            text-transform: uppercase;
            font-family: forum;
            font-size: 80px;
            color: #9d8665;
            letter-spacing: 5px;
            line-height: 90px;
            &:after {
                content: "";
                display: block;
                width: 1440px;
                height: 3px;
                background-color: #710707;
                position: relative;
                top: 25px;
                margin-bottom: 75px;
            }
        }
    } 
}
.tickets-container {
    margin-bottom: 75px;
    .left-side {
        width: 720px;
        img {
            width: 720px;
            height: 550px;
        }
    }
    .right-side {
        width: 720px;
        display: flex;
        justify-content: space-between;
    }
    display: flex;
    .amount {
        
        width: 175px;
        text-align: right;
        h4 {
            font-family: roboto;
            font-size: 28px;
            line-height: 28px;
            margin-bottom: 36px;
            font-weight: 700;
        }
        p {
            margin-top: 10px;
            font-family: roboto;
            font-size: 22px;
            line-height: 25.78px;
            font-weight: 300;
            text-align: left;
            padding-left: 25px;
            margin-bottom: 14px;
        }
        .price{
            margin-top: 50px;
            font-family: roboto;
            font-size: 28px;
            line-height: 32.81px;
            font-weight: 700;
            letter-spacing: 1.65px;

        }
        .clicker {
            width: 150px;
            height: 50px;
            border: solid rgb(0, 0, 0) 3px;
            text-align: center;
            font-family: roboto;
            font-size: 22px;
            line-height: 22.78;
        }
        
        .button-buy {
            width: 175px;
            height: 50px;
            background: rgb(0, 0, 0);
            font-size: 22px;
            font-family: roboto;
            letter-spacing: 2px;
            text-align: center;
            margin-top: 50px;
            color: #ffffff;
            &:hover {
                background-color: #9d8665;
                transition: 2s;
                
            }
            &:active {
                width: 180px;
                height: 55px;
            }
        }
    }
    
    form {
        margin-left: 60px;
        display: flex;
        flex-direction: column;
        width: 270px;
        height: 262px;
        .form-container {
            display: flex;
            flex-direction: column;
            row-gap: 25px;
        }
        h4 {
            font-family: roboto;
            font-size: 28px;
            line-height: 28px;
            margin-bottom: 60px;
            font-weight: 700;
        }
        p {
            font-family: roboto;
            font-size: 28px;
            line-height: 32.81px;
            
        }
        label {
            font-family: roboto;
            font-size: 22px;
            line-height: 25.78px;
            span{
                margin-left: 20px;
            }
        }
    }
}
.paralax{
    left: -240px;
    position: relative;
    width: 1920px;
    height: 400px;
    background: url('/assets/img/parallax.jpg');
    background-size: cover;
    background-attachment: fixed;
    
}
.contacts {
    margin-bottom: 150px;
    width: 1440px;
    height: 813px;
    padding: 75px 0;
    img {
        width: 960px;
        height: 620px;
        
    }
    h2 {
        padding-left: 7px;
        font-family: forum;
        font-size: 80px;
        color: #9d8665;
        letter-spacing: 5px;
        line-height: 90px;
        &:after {
            content: "";
            display: block;
            width: 1440px;
            height: 3px;
            background-color: #710707;
            position: relative;
            top: 26px;
        }
    }
    .contacts-container{
        margin-top: 107px;
        padding-left: 7px;
    }
    .contacts-title {
        margin-bottom: 47px;
        font-family: roboto;
        font-size: 28px;
        line-height: 28px;
        font-weight: 500;
        width: 277px;
        font-weight: 700;
        span{
            display: block;
        }
    }
    .contacts-info {
        font-family: roboto;
        font-size: 22px;
        line-height: 50px;
        width: 290px;
        a{
            color: black;
            font-weight: 300;
        }
    }
    img {
        position: relative;
        left: 480px;
        top: -255px;
    }
}
.footer-bg {
    width: 1920px;
    height: 392px;
    margin: 0 auto;
    background-color: black;
    position: relative;
    
    footer {
    width: 1440px;
    height: 392px;
    margin: 0 auto;
        .rs-info{
            display: flex;
            justify-content: space-between;
            width: 1440px;
            height: 24px;
            margin: 0 auto;
            position: relative;
            top: 168px;
            span{
                font-weight: 200;
                color: #ffffff;
                font-family: roboto;
                font-size: 22px;
                letter-spacing: 2px;
                line-height: 22px;
            }
            .rs{
                font-weight: 200;
                margin-left: 80px;
            }
        }
        .rectangle-footer{
            width: 1920px;
            height: 3px;
            background: #666666;
            position: relative;
            top: 115px;
            left: -240px;
            
        }
        
        .footer-links {
            width: 336px;
            height: 48px;
            margin-top: 88px;
            display: flex;
            justify-content: space-between;
            & li:first-child {
                background: url(/assets/svg/Youtube.svg);
                width: 48px;
                height: 48px;
            }
            & li:nth-child(2) {
                background: url(/assets/svg/Instagram.svg);
                width: 48px;
                height: 48px;
                
            }
            & li:nth-child(3) {
                background: url(/assets/svg/Facebook.svg);
                width: 48px;
                height: 48px;
            }
            & li:nth-child(4) {
                background: url(/assets/svg/Twitter.svg);
                width: 48px;
                height: 48px;
            }
            & li:nth-child(5) {
                background: url(/assets/svg/Pinterest.svg);
                width: 48px;
                height: 48px;
            }
        }

        
        nav {
            padding: 77px 0px;
            display: flex;
            min-width: 1440px;
            height: 150px;
            .container-logo {
                display: flex;
                justify-content: space-between;
                line-height: 50px;
                font-size: 28px;
                font-family: forum;
                color: white;
                width: 175px;
                height: 50px;
                p{
                    letter-spacing: 5px;
                    margin-left: 25px;
                    font-weight: 200;
                }
                &:before {
                    content: url("/assets/svg/logo.svg");
                }
            }
            a {
                color: white;
            }
            .navigation-list {
                font-weight: 200;
                margin-left: 165px;
                margin-right: 400px;
                display: flex;
                flex-wrap: wrap;
                column-gap: 153px;
                flex-direction: column;
                width: 366px;
                height: 150px;
                color: white;
                font-size: 22px;
                font-family: roboto;
                line-height: 50px;
                letter-spacing: 2px;
                a{
                    &:hover{
                        color: #9d8665;
                        transition: 2s;
                        
                    }
                }
            }
        }
    }
}
body {
    scroll-behavior: smooth;
}