@import "./mix";
.explore {
  .explore-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .explore-text{
      padding: 25px;
    }
    .slidex {
      .img-comp-container {
        position: relative;
        width: 700px;
        height:700px;
        box-sizing: border-box;
      }
      .img-comp-img {
        box-sizing: border-box;
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
      }
      .img-comp-img img {
        box-sizing: border-box;
        display: block;
      }

      .img-comp-slider {
        box-sizing: border-box;
        position: absolute;
        z-index: 9;
        display: block;
        width: 40px;
        height:100%;
        background: url("../assets/img/explore/exploreslider.png");
      }
    }
  }
  .second-line {
    display: inline;
  }
  .first-line {
    width: 660px;
    height: 77px;
    font-family: roboto;
    font-size: 22px;
    color: white;
    line-height: 38.5px;
    font-weight: 300;
  }
  p {
    width: 660px;
    height: 77px;
    font-family: roboto;
    font-size: 22px;
    color: white;
    line-height: 38.5px;
    font-weight: 300;

  }
  .exp-disc{
    margin-top: 25px;
  }
  h2 {
    height: 90px;
    color: white;
    @include section-title();
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background-color: #710707;
      position: relative;
      top: 25px;
    }
  }
}

@media (max-width: 1024px) {
  .explore{
    h2{
      @include section-title1024();
      align-self: flex-start;
    }
    .explore-container{
      flex-direction: column;
      align-items: center;
    }
    .slidex{
      width: 700px;
      height:700px;
    }
  }
  
}

@media (max-width: 768px) {
  .explore{
    h2{
      @include section-title768();
      align-self: flex-start;
    }
  }
  
}

@media (max-width: 425px) {
  .explore{
    .explore-container{
      margin-top: 0;
      h2{
        @include section-title420();
        align-self: flex-start;
      }
      .explore-text{
        display: none;
      }
      .slidex{
        margin-top:0px;
        width: 350px ;
        height: 350px ;
        .img-comp-container{
          width: 350px;
          height: 350px;
          .img-comp-img {
            img{
              width: 350px;
              height: 350px;
            }
          }
        }
      }
    }
  }
  
  
}