@import './mix';
.explore {
  h2 {
    color: white;
    @include section-title();
  }
  .explore-container {
    @include flex-center();
    align-items: flex-start;
    .explore-text {
      display: flex;
      flex-direction: column;
      row-gap: 50px;
      p {
        font-family: roboto;
        font-size: 22px;
        color: white;
        font-weight: 200;
      }
    }
    .slidex {
      display: flex;

      .img-comp-container {
        position: relative;
        width: 700px;
        height: 700px;
        box-sizing: border-box;
      }
      .img-comp-img {
        box-sizing: border-box;
        position: absolute;
        overflow: hidden;
        width: 100%;
        height: 100%;
      }
      .img-comp-img img {
        box-sizing: border-box;
        display: block;
      }

      .img-comp-slider {
        box-sizing: border-box;
        position: absolute;
        z-index: 9;
        display: block;
        width: 40px;
        height: 100%;
        background: url('../assets/img/explore/exploreslider.png');
      }
    }
  }
}

@media (max-width: 1024px) {
  .explore {
    h2 {
      color: white;
      @include section-title1024();
    }
    .explore-container {
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 768px) {
  .explore {
    h2 {
      color: white;
      @include section-title768();
    }
    .explore-container {
      .slidex {
        display: flex;
        .img-comp-container {
          width: 400px;
          height: 400px;
        }

        .img-comp-img img {
          width: 400px;
          height: 400px;
        }

        .img-comp-slider {
          background: url('../assets/img/explore/exploreslider.png');
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .explore {
    h2 {
      @include section-title420();
    }
    .explore-container {
      .slidex {
        display: flex;
        .img-comp-container {
          width: 300px;
          height: 300px;
        }

        .img-comp-img img {
          width: 300px;
          height: 300px;
        }

        .img-comp-slider {
          background: url('../assets/img/explore/exploreslider.png');
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }
  }
}
