@import './mix';
.header-bg {
  background: #000;
  header {
    @include flex-center();
    padding: 0 20px;
    height: 150px;
    .menu {
      background: url('../assets/svg/Menu.svg');
      width: 32px;
      height: 18px;
      display: none;
    }
    .container-logo {
      text-transform: uppercase;
      letter-spacing: 5px;
      @include flex-center();
      font-size: 28px;
      font-family: forum;
      color: white;
      &:before {
        position: relative;
        margin-right: 20px;
        content: url('/assets/svg/logo.svg');
      }
    }
    .navigation-list {
      ul {
        @include flex-center();
        column-gap: 30px;
        font-size: 22px;
        line-height: 26px;
        font-family: roboto;
        a {
          color: white;
          &:hover {
            color: #9d8665;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header-bg {
    header {
      .show-menu {
        animation: show-menu 1s forwards;
        @keyframes show-menu {
          from {
            left: -300;
          }
          to {
            left: 0px;
          }
        }
      }
      .hide-menu {
        animation: hide-menu 1s forwards;
        @keyframes hide-menu {
          from {
            left: 0px;
          }
          to {
            left: -300px;
          }
        }
      }
      .menu {
        display: block;
      }
      .navigation-list {
        position: absolute;
        top: 130px;
        left: -300px;
        z-index: 1000;
        background: #000;
        ul {
          letter-spacing: 2px;
          width: 300px;
          row-gap: 30px;
          height: 400px;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header-bg {
    header {
      .show-menu {
        animation: show-menu 1s forwards;
        @keyframes show-menu {
          from {
            left: -768px;
          }
          to {
            left: 0px;
          }
        }
      }
      .hide-menu {
        animation: hide-menu 1s forwards;
        @keyframes hide-menu {
          from {
            left: 0px;
          }
          to {
            left: -768px;
          }
        }
      }
      .menu {
        display: block;
      }
      .navigation-list {
        position: absolute;
        width: 100%;
        top: 110px;
        left: -768px;
        z-index: 1000;
        background: #000;
        ul {
          align-items: center;
          letter-spacing: 2px;
          width: 100%;
          row-gap: 20px;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .header-bg {
    header {
      height: 90px;
    }
  }
}
