@import './mix';
.tickets {
  .container {
    position: relative;
    .animation-form-show {
      animation: form-show 1s forwards;
      @keyframes form-show {
        from {
          left: -2500;
        }
        to {
          left: 0;
        }
      }
    }
    .animation-form-hide {
      animation: form-hide 1s forwards;
      @keyframes form-hide {
        from {
          left: 0;
        }
        to {
          left: -2500;
        }
      }
    }
  }
  h2 {
    @include section-title();
    color: var(--font-gold);
  }
  .tickets-container {
    display: flex;
    column-gap: 50px;
    .buy-tickets-title {
      font-family: roboto;
      font-size: 22px;
      line-height: 22px;
      font-weight: 500;
    }
    .left-side {
      img {
        width: 100%;
        height: auto;
      }
    }
    .right-side {
      display: flex;
      column-gap: 50px;

      .type-tickets {
        display: flex;
        row-gap: 20px;
        flex-direction: column;
        .form-container {
          display: flex;
          flex-direction: column;
          row-gap: 25px;
        }
        h4 {
          font-family: roboto;
          font-size: 28px;
          line-height: 28px;
          font-weight: 700;
        }
        p {
          font-family: roboto;
          font-size: 22px;
          line-height: 22px;
          font-weight: 500;
        }
        label {
          display: flex;
          align-items: center;
          font-family: roboto;
          font-size: 22px;
          line-height: 25.78px;
          span {
            margin-left: 10px;
          }
        }
      }
      .amount {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        h4 {
          font-family: roboto;
          font-size: 28px;
          line-height: 28px;
          font-weight: 700;
        }

        .count-tickets-basic,
        .count-tickets-senior {
          border: 3px solid rgb(0, 0, 0);
          display: flex;
          justify-content: center;
        }
        .button-buy {
          width: 175px;
          height: 50px;
          background: rgb(0, 0, 0);
          font-size: 22px;
          font-family: roboto;
          letter-spacing: 2px;
          text-align: center;

          color: #ffffff;
          &:hover {
            cursor: pointer;
            background-color: #9d8665;
            transition: 2s;
          }
          &:active {
            width: 180px;
            height: 55px;
          }
        }
        button {
          background: white;
          font-family: Roboto;
          font-size: 45px;
          line-height: 45px;
          height: 45px;
          width: 48px;
          padding-left: 5px;
        }
        .price {
          font-family: roboto;
          font-size: 28px;
          line-height: 32.81px;
          font-weight: 700;
          letter-spacing: 1.65px;
          margin: 0;
          padding: 0;
        }
        .price-container {
          display: flex;
        }
      }
    }
    .input-number {
      font-size: 28px;
      font-weight: 400;
      font-family: roboto;
      text-align: center;
      align-content: center;
      height: 45px;
      width: 48px;
      padding-left: 10px;
    }
  }
  .form-buy {
    position: absolute;
    display: none;
    left: -2500px;
    width: 100%;
    padding: 20px 0;
    background: rgb(255, 255, 255);
    z-index: 20;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.192);
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;

    .close {
      position: relative;
      top: 20px;
      left: 95%;
      width: 20px;
      height: 20px;
    }
    .tickets-form-container {
      max-width: 1200px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 20px;
      justify-content: center;
      margin: 0 auto;
      flex-shrink: 0;
      .booking-tickets-container {
        display: flex;
        flex-wrap: wrap;
        min-width: 380px;
        max-width: 380px;
        border-radius: 10px;
        padding: 30px;
        img {
          width: 85px;
          height: 41px;
        }
        .booking-tickets-main-title {
          font-family: forum;
          font-size: 50px;
          text-transform: uppercase;
          line-height: 55.2px;
          color: #9d8665;
          padding: 0px;
          margin-bottom: 15px;
        }
        .booking-tickets-title {
          flex: 0 1 100%;
          text-transform: uppercase;
          font-family: roboto;
          font-weight: bold;
          font-size: 18px;
          line-height: 21, 09;
          color: #710707;
          &::after {
            margin: 20px 0;
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            background: #710707;
          }
        }
        .input {
          font-family: roboto;
          font-weight: bold;
          font-style: 18px;
          text-transform: uppercase;
          height: 45px;
          border: 2px solid black;
          border-radius: 10px;
          margin-bottom: 20px;
          box-sizing: border-box;
          width: 100%;
        }
        .booking-tickets-name,
        .booking-tickets-tel,
        .booking-tickets-email {
          flex: 0 1 100%;
        }
        .booking-tickets-time {
          margin-left: 2%;
          flex: 0 1 48%;
        }
        .booking-tickets-date {
          margin-right: 2%;
          flex: 0 1 48%;
        }
        .entry-ticket {
          width: 100%;
          border: 2px solid black;
          border-radius: 10px;
          padding: 20px;
          .input-number {
            font-size: 18px;
            font-weight: 400;
            font-family: roboto;
            text-align: center;
            align-content: center;
            border: 1px solid black;
            height: 30px;
            box-sizing: border-box;
          }
          .count-tickets-basic,
          .count-tickets-senior {
            font-size: 18px;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 30px;
            button {
              background: rgb(0, 0, 0);
              font-family: Roboto;
              font-style: normal;
              font-weight: normal;
              font-size: 18px;
              line-height: 18px;
              text-align: center;
              color: white;
              height: 30px;
              width: 30px;
            }
          }
        }
      }
      .overview-container {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        min-width: 530px;
        max-width: 530px;
        border-radius: 10px;
        padding: 10px;
        border: 2px solid black;
        .overview-info {
          display: flex;
          flex: 0 1 50%;
          flex-direction: column;
          height: 120px;
        }
        .chosen-basic,
        .chosen-senior {
          flex: 0 1 100%;
          display: flex;
          justify-content: space-between;
          height: 20px;
          font-size: 20px;
        }
        .chosen-senior {
          position: relative;
          &::after {
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            position: absolute;
            top: 30px;
            background: rgb(235, 9, 9);
          }
        }
        .total-price {
          display: flex;
          width: 100%;
          justify-content: space-between;
        }
        .overview-title {
          font-family: forum;
          font-size: 32px;
          color: #000000;
          flex: 0 1 100%;
        }
        img {
          flex: 0 1 50%;
          width: 150px;
          height: 120px;
        }
        .booking-tickets-title {
          flex: 0 1 50%;
          font-family: roboto;
          font-weight: bold;
          font-size: 18px;
          line-height: 21, 09;
          color: #710707;
        }
        #chosen-date,
        #chosen-time,
        #chosen-exibition {
          flex: 0 1 50%;
          font-size: 18px;
          font-weight: bold;
        }
        .card-container {
          width: 100%;
          height: 241px;
          position: relative;
          input {
            height: 35px;
          }
          .front-card {
            text-transform: uppercase;
            height: 211px;
            width: 360px;
            background: rgb(94, 84, 84);
            border: 1px solid black;
            border-radius: 10px;
            position: absolute;
            z-index: 20;
            display: flex;
            flex-direction: column;
            .type-card {
              left: 270px;
              top: 10px;
              width: 80px;
              height: 160px;
              position: absolute;
              background: url('../assets/img/tickets/Daco_4109325.png');
              background-size: contain;
              background-repeat: no-repeat;
            }
            .card-number {
              width: 70%;
              margin: 10px;
              input {
                width: 100%;
              }
            }
            .expiration-date {
              display: flex;
              flex-wrap: wrap;
              column-gap: 20px;
              margin: 10px;
              width: 70%;
              p {
                flex: 0 1 100%;
              }
              input {
                flex: 0 1 30%;
              }
            }
            .cardholder {
              margin: 10px;
              width: 90%;
              input {
                width: 100%;
              }
            }
          }
          .back-card {
            height: 211px;
            width: 360px;
            background: rgb(94, 84, 84);
            border: 1px solid black;
            border-radius: 10px;
            position: absolute;
            top: 30px;
            left: 110px;
            z-index: 19;
            overflow: hidden;
            .black-line {
              height: 45px;
              width: 100%;
              background: black;
              position: relative;
              top: 20px;
            }
            .secret-code {
              position: relative;
              left: 75%;
              top: 30%;
              display: flex;
              flex-direction: column;
              width: 70px;
              input {
                width: 70px;
              }
            }
          }
        }
        .book-btn {
          background: rgb(77, 13, 13);
          width: 220px;
          height: 45px;
          color: white;
          text-align: center;
          font-size: 22px;
        }
      }
    }
  }
  .paralax {
    margin-top: 75px;
    position: relative;
    width: 100%;
    height: 400px;
    background: url('/assets/img/parallax.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .tickets {
    h2 {
      @include section-title768();
      color: var(--font-gold);
    }
    .tickets-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      column-gap: 20px;
      .buy-tickets-title {
        font-size: 18px;
        line-height: 18px;
      }
      .left-side {
        img {
          width: 100%;
          height: auto;
        }
      }
      .right-side {
        display: flex;
        column-gap: 50px;

        .type-tickets {
          display: flex;
          row-gap: 20px;
          flex-direction: column;
          .form-container {
            display: flex;
            flex-direction: column;
            row-gap: 25px;
          }
          h4 {
            font-family: roboto;
            font-size: 28px;
            line-height: 28px;
            font-weight: 700;
          }
          p {
            font-family: roboto;
            font-size: 22px;
            line-height: 22px;
            font-weight: 500;
          }
          label {
            display: flex;
            align-items: center;
            font-family: roboto;
            font-size: 22px;
            line-height: 25.78px;
            span {
              margin-left: 10px;
            }
          }
        }
        .amount {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          h4 {
            font-family: roboto;
            font-size: 28px;
            line-height: 28px;
            font-weight: 700;
          }

          .count-tickets-basic,
          .count-tickets-senior {
            border: 3px solid rgb(0, 0, 0);
            display: flex;
            justify-content: center;
          }
          .button-buy {
            width: 175px;
            height: 50px;
            background: rgb(0, 0, 0);
            font-size: 22px;
            font-family: roboto;
            letter-spacing: 2px;
            text-align: center;

            color: #ffffff;
            &:hover {
              cursor: pointer;
              background-color: #9d8665;
              transition: 2s;
            }
            &:active {
              width: 180px;
              height: 55px;
            }
          }
          button {
            background: white;
            font-family: Roboto;
            font-size: 45px;
            line-height: 45px;
            height: 45px;
            width: 48px;
            padding-left: 5px;
          }
          .price {
            font-family: roboto;
            font-size: 28px;
            line-height: 32.81px;
            font-weight: 700;
            letter-spacing: 1.65px;
            margin: 0;
            padding: 0;
          }
          .price-container {
            display: flex;
          }
        }
      }
      .input-number {
        font-size: 28px;
        font-weight: 400;
        font-family: roboto;
        text-align: center;
        align-content: center;
        height: 45px;
        width: 48px;
        padding-left: 10px;
      }
    }
    .form-buy {
      .tickets-form-container {
        max-width: 600px;
        .booking-tickets-container {
          display: flex;
          flex-wrap: wrap;
          min-width: 350px;
          max-width: 350px;
          border-radius: 10px;
          padding: 5px;
          img {
            width: 85px;
            height: 41px;
          }
          .booking-tickets-main-title {
            font-family: forum;
            font-size: 32px;
            text-transform: uppercase;
            line-height: 32.2px;
            color: #9d8665;
            padding: 0px;
            margin-bottom: 15px;
          }
        }
        .overview-container {
          display: flex;
          position: relative;
          flex-wrap: nowrap;
          flex-direction: column;
          min-width: 380px;
          max-width: 380px;
          border-radius: 10px;
          padding: 10px;
          border: 2px solid black;
          .overview-info {
            display: flex;
            flex: 0 1 50%;
            flex-direction: column;
            height: 120px;
          }
          .chosen-basic,
          .chosen-senior {
            flex: 0 0 20px;
            display: flex;
            justify-content: space-between;
            height: 20px;
            font-size: 20px;
          }
          .chosen-senior {
            position: relative;
            &::after {
              content: '';
              margin-top: 20px;
              display: block;
              width: 100%;
              height: 3px;
              background: rgb(235, 9, 9);
            }
          }
          .total-price {
            display: flex;
            font-size: 22px;
            width: 100%;
            justify-content: space-between;
          }
          .overview-title {
            font-family: forum;
            font-size: 32px;
            color: #000000;
            margin: 0;
            height: 32px;
            flex: 0 0 32px;
          }
          img {
            width: 80%;
            height: auto;
          }

          #chosen-date,
          #chosen-time,
          #chosen-exibition {
            flex: 0 1 50%;
            font-size: 18px;
            font-weight: bold;
          }
          .card-container {
            width: 100%;
            height: auto;
            position: relative;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            padding: 30px 0;
            input {
              height: 35px;
            }
            .front-card {
              position: relative;
              .type-card {
                left: 270px;
                top: 10px;
                width: 80px;
                height: 160px;
                position: absolute;
                background: url('../assets/img/tickets/Daco_4109325.png');
                background-size: contain;
                background-repeat: no-repeat;
              }
              .card-number {
                width: 70%;
                margin: 10px;
                input {
                  width: 100%;
                }
              }
              .expiration-date {
                display: flex;
                flex-wrap: wrap;
                column-gap: 20px;
                margin: 10px;
                width: 70%;
                p {
                  flex: 0 1 100%;
                }
                input {
                  flex: 0 1 30%;
                }
              }
              .cardholder {
                margin: 10px;
                width: 90%;
                input {
                  width: 100%;
                }
              }
            }
            .back-card {
              height: 211px;
              width: 360px;
              background: rgb(94, 84, 84);
              border: 1px solid black;
              border-radius: 10px;
              position: relative;
              top: 0;
              left: 0;
              z-index: 19;
              overflow: hidden;
              .black-line {
                height: 45px;
                width: 100%;
                background: black;
                position: relative;
                top: 20px;
              }
              .secret-code {
                position: relative;
                left: 75%;
                top: 30%;
                display: flex;
                flex-direction: column;
                width: 70px;
                input {
                  width: 70px;
                }
              }
            }
          }
          .book-btn {
            background: rgb(77, 13, 13);
            width: 220px;
            height: 45px;
            color: white;
            text-align: center;
            font-size: 22px;
          }
        }
      }
    }
  }
}
