@import './mix';
.video {
  .container {
    .video-title {
      @include flex-center();
      flex-wrap: wrap;
      column-gap: 30px;
      h2 {
        @include section-title();
        flex-shrink: 0;
        color: var(--font-gold);
      }
      p {
        font-family: roboto;
        font-size: 22px;
        line-height: 40px;
        font-weight: 300;
      }
    }
    .video-player {
      position: relative;
      .play {
        z-index: 2;
        position: absolute;
        left: 40%;
        top: 40%;
        width: 220px;
        height: 220px;
        background: url('../assets/img/playbutton.png');
        background-size: contain;
        background-repeat: no-repeat;
        &:hover {
          transform: scale(1.2);
          transition: 1s;
        }
      }
      .video-html {
        width: 100%;
        margin-top: 15px;
      }
      .player-panel {
        @include flex-center();
        justify-content: space-around;
        height: 85px;
        background: #000;
        .play-small,
        .pause {
          background: url('../assets/img/video/Frame.svg');
          z-index: 2;
          width: 23px;
          height: 31px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        .progress {
          background: linear-gradient(
            to right,
            #710707 0%,
            #710707 54%,
            #c4c4c4 54%,
            #c4c4c4 100%
          );
          border: solid 4px #000000;
          height: 15px;
          width: 50%;
          outline: none;
          transition: background 450ms ease-in;
        }
        .volume-progress {
          background: linear-gradient(
            to right,
            #710707 0%,
            #710707 0.5%,
            #c4c4c4 0.5% #c4c4c4 1%
          );
          border: solid 4px #000000;
          height: 15px;
          width: 10%;
          outline: none;
          transition: background 450ms ease-in;
        }
        .time {
          font-size: 2em;
          color: white;
          text-align: center;
          font-family: Arial, Helvetica, sans-serif;
        }
        .pause {
          background: url('../assets/img/video/pause.png');
        }
        .volume-button-close,
        .volume {
          background: url('../assets/img/video/mute.png') no-repeat;
          width: 38px;
          height: 30px;
          background-size: contain;
          background-repeat: no-repeat;
        }
        .volume {
          background: url('../assets/img/video/volume.svg');
        }
        .fullscreen-btn {
          background-size: contain;
          background-repeat: no-repeat;
          z-index: 2;
          width: 35px;
          height: 35px;
          background: url('../assets/img/video/fullscreen.svg');
        }
      }
    }
    .video-slider {
      overflow: hidden;
      width: 100%;
      .video-menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        column-gap: 42px;
        flex: 0 1;
        .carousel {
          .video-gallery {
            width: 100%;
            overflow: hidden;
            height: 254px;
            margin-top: 40px;
            ul {
              display: flex;
              column-gap: 50px;
              height: 254px;
              width: 9999px;
              iframe {
                width: 452px;
                height: 254px;
                display: block;
              }
            }
          }
        }
        .video-slider-dots {
          display: flex;
          align-items: center;
          margin: 0 auto;
          margin-top: 30px;
          height: 30px;
          width: 250px;
          .prev-video-btn,
          .next-video-btn {
            font-size: 32px;
            background: none;
            font-weight: bold;
          }

          .next-video-btn {
            margin-left: 20px;
          }
          .video-slider-dots-item {
            cursor: pointer;
            margin-left: 20px;
            height: 20px;
            width: 20px;
            border-radius: 100%;
            display: block;
            background: black;
          }
          .video-slider-dots-item.active,
          .video-slider-dots-item:hover {
            background-color: #d2b183;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .video {
    .container {
      .video-title {
        @include flex-center();
        h2 {
          @include section-title1024();
          color: var(--font-gold);
        }
        p {
          font-size: 18px;
        }
      }
      .video-player {
        position: relative;
        .play {
          left: 40%;
          top: 35%;
          width: 150px;
          height: 150px;
        }

        .player-panel {
          height: 65px;
          .play-small,
          .pause {
            width: 15px;
            height: 25px;
          }
          .time {
            font-size: 1em;
            color: white;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
          }
          .pause {
            background: url('../assets/img/video/pause.png');
          }
          .volume-button-close,
          .volume {
            background: url('../assets/img/video/mute.png') no-repeat;
            background-size: contain;
            width: 20px;
            height: 20px;
          }
          .volume {
            background: url('../assets/img/video/volume.svg');
            background-size: contain;
            background-repeat: no-repeat;
          }
          .fullscreen-btn {
            z-index: 2;
            width: 25px;
            height: 25px;
            background: url('../assets/img/video/fullscreen.svg');
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
      .video-slider {
        .video-menu {
          column-gap: 22px;
          flex: 0 1;
          .carousel {
          }
          .video-gallery {
            height: 204px;
            ul {
              height: 204px;
              iframe {
                width: 352px;
                height: 204px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .video {
    .container {
      .video-title {
        h2 {
          @include section-title768();
          color: var(--font-gold);
        }
        p {
          font-size: 16px;
        }
      }
      .video-player {
        .player-panel {
          height: 35px;
        }
        position: relative;
        .play {
          left: 40%;
          top: 35%;
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .video {
    .container {
      .video-title {
        h2 {
          @include section-title420();
          color: var(--font-gold);
        }
        p {
          font-size: 14px;
        }
      }
      .video-player {
        position: relative;
        .play {
          left: 35%;
          top: 30%;
          width: 75px;
          height: 75px;
        }
      }
    }
  }
}
