@import './mix';
.visiting {
  h2 {
    @include section-title();
    color: var(--font-gold);
  }
  .visiting-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 78px;
    position: relative;
    justify-content: center;
    .link-vt {
      display: block;
      width: 440px;
      height: 422px;
      &:hover {
        h3::after {
          width: 440px;
          transition: 2s;
        }
      }
      img {
        width: 440px;
        height: 285px;
      }

      h3 {
        margin-top: 25px;
        font-family: forum;
        font-size: 32px;
        line-height: 35.33px;
        letter-spacing: 5px;
        color: black;
        &::after {
          content: '';
          display: block;
          width: 300px;
          height: 2px;
          background-color: #710707;
          position: relative;
          top: 8px;
        }
      }
    }
    .description-vt {
      h4 {
        font-family: roboto;
        font-size: 22px;
        line-height: 28px;
        color: black;
        font-weight: 200;
        font-style: normal;
        position: relative;
        top: 17px;
      }
      h5 {
        font-family: roboto;
        font-size: 18px;
        line-height: 21.09px;
        color: black;
        font-weight: 200;
        font-style: normal;
        position: relative;
        top: 25px;
      }
    }
    margin-top: 103px;
  }
}

@media (max-width: 1024px) {
  .visiting {
    h2 {
      @include section-title1024();
      color: var(--font-gold);
      padding-left: 0px;
    }
    .visiting-menu {
      row-gap: 60px;
      margin-top: 83px;
      justify-content: center;
      .link-vt {
        width: 330px;
        height: 345px;
        &:hover {
          h3::after {
            width: 330px;
            transition: 2s;
          }
        }
        img {
          width: 330px;
          height: 215px;
        }
        h3 {
          font-size: 28px;
          line-height: 30.91px;
          letter-spacing: 3px;
          color: black;
          &::after {
            content: '';
            display: block;
            width: 150px;
            height: 2px;
            background-color: #710707;
            position: relative;
            top: 10px;
          }
        }
        .description-vt {
          h4 {
            font-size: 20px;
            line-height: 23.44px;
          }
          h5 {
            font-size: 16px;
            line-height: 18.75px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .visiting {
    h2 {
      @include section-title768();
      color: var(--font-gold);
      padding-left: 0px;
    }
  }
}
@media (max-width: 425px) {
  .visiting {
    h2 {
      @include section-title420();
      color: var(--font-gold);
      padding-left: 0px;
    }
  }
}
